.container {
    width: 100%;
    min-height: 60vh;
    background-image: url('../../assets/bridge.jpg');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    display: flex;               
    justify-content: center;      
    align-items: center;
    padding-top: 70px;
    position: relative;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  
    z-index: 0; 
}

.text {
    max-width: 800px;
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2.8rem);
    line-height: 1.3;
    color: white;
    position: relative;
    z-index: 1;
    padding: 10px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

@media (max-width: 768px) {
    .container {
        min-height: 50vh;
        margin-top: 70px;
    }

    .text {
        font-size: clamp(1.2rem, 5vw, 2rem);
    }
}

@media (max-width: 480px) {
    .container {
        min-height: 45vh;
    }

    .text {
        font-size: clamp(1rem, 6vw, 1.6rem);
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}