.videoContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.container {
  position: relative;
  z-index: 2; 
  height: 100%; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.videoContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  pointer-events: none; 
}

.text {
  color: white;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}