@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    width: 100%;
    max-width: 1200px;      
    margin: 0 auto;         
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;              
    flex-wrap: nowrap; 
    color: white;  

}

.leftDiv {
    flex: 1;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.5s;
}

.leftDiv h1 {
    font-size: 3rem;
}

.leftDiv hr {
  border: none;              
  height: 1px;               
  background-color: #ccc;    
  margin: 24px 0;
  width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;       
        text-align: center;
    }

    .leftDiv {
        width: 100%;
        display: flex;
        flex-direction: column;   
        align-items: center;       
    }
}