.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: nowrap; 
    color: #2C2C2C;
}

.leftDiv {
    flex: 1;
    display: flex;
    justify-content: center;
}

.leftDiv img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.rightDiv {
    flex: 1;
}

.rightDiv h1 {
    margin-bottom: 15px;
    font-size: 3rem;
    color: black;
}

.rightDiv p {
    line-height: 1.5;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;   
        text-align: center;
    }

    .leftDiv img {
        max-width: 90%;
    }
}